@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
}

:root {
  --accent-color: #e54065;
  --background-color: #f4f5f9;
  --border-color: #cfd2dc;
  --text-color: #636363;
  --filter-button-color: #e1e4ea;
  --read-background-color: #f2f2f2;
}
