.email-card {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  display: flex;
  cursor: pointer;
  background: white;
}

.email-info {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.read {
  background: var(--read-background-color);
}
